body {
    margin: 0;
}

.header {
    padding: 1em 0;
    text-align: center;
    background-color: rgba(20, 129, 20, 0.534);
    color: aliceblue;
    background-image: url('../images/images.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.navigation {

}

.nav-list {
margin: 0;
padding: 0;
text-transform: capitalize;
}

.nav-item {
    display: inline-block;
    list-style-type: none;
}

.nav-link {
    display: block;
    padding: 3em;
    text-decoration: none;
    color: rgb(100, 237, 203);
}

.nav-link:hover {
    color: darkblue;
}

.avatar {
    width: 400px;
    border-radius: 85%;
    border: 5px solid #999;
}

.h1 {
text-transform: capitalize;
}

.p {
    text-transform: capitalize;
}

.button {
    text-transform: capitalize;
    display: inline-block;
    padding: 20px 30px;
    margin-top: 20px;
    text-decoration: none;
    background-color: tomato;
    color: azure;
    border-radius: 3px;

}

.projects {

}

.projects-list {
width: 85%;
padding: 0;
margin: 80px auto;
}

.project {
display: inline-block;

margin: 10px 1.9%;
width: 21%;
}

.project img {
    display: block;
    max-width: 100%;
    border-radius: 4px;
}

.socials {
    background-color: #0c4c83;
    padding: 30px 0;
    text-align: center;

}

.twitter {
width: 40%;
margin: 20px auto;
color: white;
}

.twitter-button {
    text-transform: capitalize;
    display: inline-block;
    padding: 20px 30px;
    margin-top: 20px;
    text-decoration: none;
    background-color: rgb(69, 221, 201);
    color: azure;
    border-radius: 3px;
}

.footer {
    color: #999;
width: 80%;
margin: 0 auto;
padding: 30px 0;
}

.footer-p {
display: inline-block;    
width: 49%;
text-align: right;
}

.footer-list {
    display: inline-block;
width: 49%;
margin: 0;
padding: 0;
}

.footer-item {
    display: inline-block;
    list-style-type: none;

}

.footer-link {
    color: #999;
text-decoration: none;
margin: 0 8px;
}